#navbar {
display: flex;
justify-content: flex-end;
position: fixed;
top: 0;
left: 0;
width: 100%;
background-color: #E27D60;
}

.nav-li {
display: flex;
margin-right: 2rem;
}
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}
.nav-li a {
  display: block;
  font-size: 2.2rem;
  padding: 1rem;
  color: white;
}
#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 105%;
  height: 100vh;
  background-color: #C38D9E;
}

}

img {
  display: block;
  width: 100%;
}

.pp {
color: #FC4445;
font-size: 3rem;
font-weight: 200;
}

h1 {
color: #FC4445;
}

#projects {
  text-align: center;
  padding: 10rem 2rem;
  background-color: #282828;
  width: 100%;
}

#prj-title {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  color: #E27D60;
}

.project-tile {
  font-size: 2rem;
  padding: 2rem 0.5rem;
  color: #D79922;
}
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background-color: #C38D9E;
}
h2 {
font-size: 4rem;
}

#contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;

}

.chat {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
  color: black;
}
li {
color: #E27D60;
}
